CRUSTDATA_TOKEN=
GOOGLE_API_KEY=
GEMMA_MODEL=gemma-3-27b-it
DASHBOARD_NEWS_QUERY=soybeans drought export strike copper mining
DASHBOARD_GEOLOCATION=BR
DASHBOARD_NEWS_LIMIT=8
DASHBOARD_TARGET_LANGUAGE=English
